* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #e29578;
    border-bottom: #ffddd2;
}

footer {
    background-color: #e29578;
    border-bottom: #ffddd2;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    text-align: center;
}

.logo {
    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-left: 35px;
    border-radius: 70%;
}

.navbar {
    display: inline-block;
}

.navbar-menu {
    position: relative;
    left: 500px;
    bottom: 50px;
}

.navbar-menu-item {
    display: inline-block;
    padding: 1.5rem;
}

.navbar-menu-link {
    text-decoration: none;
    color: #001219;
}

.navbar-menu-link:hover {
    color: #005f73;
}

.notice-text {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.section-table {
    margin: 30px;
    margin-left: 100px;
    margin-right: 100px;
    height: 700px;
    width: 800px;
}

.article-card {
    background-color: #83c5be;
    border-radius: 30px;
    border-color: #006d77;
    height: 400px;
    width: 300px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: inline-block;
    margin: 10px;
}

.article-card img {
    width: 100%;
    height: 180px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.article-card h2 {
    text-decoration: none;
    color: #001219;
    margin-top: 5px;
    margin-bottom: 5px;
}

.article-card h2:hover {
    color: #005f73;
}

.article-card a {
    text-decoration: none;
    color: #001219;
}

.copy {
    text-align: center;
    margin-bottom: 20px;
}

.footer-social-link {
    display: inline-block;
    padding: 1.5rem;
    text-decoration: none;
    color: #001219;
}

.footer-social-link:hover {
    color: #005f73;
}

.form-box {
    text-align: center;
    color: black;
    position: relative;
    border-radius: 40px;
    padding: 70px 30px;
}

.main-form {
    width: 420px;
    height: 320px;
    margin: 0px auto;
}

.form-box h1 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14;
    margin-bottom: 10px;
}

.form-box label {
    margin: 10px;
    padding: 0;
    font-weight: bold;
    display: block;
}

.form-box .submit-btn {
    margin-top: 15px;
    text-align: center;
}

.container img {
    max-width: 100%;
    height: auto;
}

.text-above-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.above-contents {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 10%);
}

.contactus-container h2{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14;
    margin: 20px;
}

.contactus-container img {
    height: 250px;
    width: 350px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

.contactus-container p {
    text-align: center;
    margin-bottom: 20px;
}
